<html>
<head>
<meta charset="utf-8">
Hello
</head>
<body>
<form action="/" method="post">
	<input type="text" name="inputBox">
    <button type="submit" name="button1">Enter</button>
</form>
<h1>Hello <%= locals.text %></h1>
</body>
</html>